$foreground-color: #1f2041;
$background-color: #4b3f72;
$secondary-color: #E93E00;
$first-white-color: #f7f7f7;
$second-white-color: #fafafa;
$natural-white-color: #ffffff;
$light-grey-color: #eee;
$light-grey-color-1: #ccc;
$grey-color: #888;
$dark-grey-color: #333;
$semi-black-color: #141414;
$natural-black-color: #000000;